* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5F2C82;
    height: 10vh;
    width: 100vw;
}

main {
    position: relative;
    text-align: left;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    overflow: hidden;
    
}

form {
    background-color: #5F2C82;
}

section#login > div#imagem {
    display: block;;
    background: #5F2C82 url(../imagens/post10.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
}

section#login > div#formulario {
    padding: 10px;   
    display: block;
}

main > div > h1 {
    text-align: center;
    font-size: 1.5em;
}

main > div > p {
    font-size: 0.9em;
    padding: 10px;
}

div.form {
    background-color: #5F2C82;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 88%;
    margin: auto;
}

input {
    height: 35px;
    width: 85%;
    border-radius: 10px;
    background-color: #6CD3CF;
    text-align: center;
}

span {
    color: white;
}

div#entrar {
    background-color: #6CD3CF;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}

div#esqueci {
    background-color: white;
    border: #6CD3CF solid 1px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

div#entrar > a {
    text-decoration: none;
    color: white;
}

div#esqueci > a {
    text-decoration: none;
    color: darkblue;
}